@{ 
    ViewData["Title"] = "Home Page"; 
}

@section Scripts {
    <script src="~/js/Home.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema de gestão de contatos</h1>
    <p>Faça login ou cadastre-se.</p>
</div>
